body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* HERO */
#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

#home h1 {
    font-size: 40px;
}

#typing {
    color: #38bdf8;
    margin-top: 10px;
}

/* SECTIONS */
section {
    padding: 60px;
    text-align: center;
}

/* CARDS */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
