* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
    position: sticky;
    top: 0;
}

nav h2 {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

#typing {
    color: #38bdf8;
    margin-top: 10px;
}

section {
    padding: 60px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    display: inline-block;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #38bdf8;
}

.cert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input, textarea {
    width: 250px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
